@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.capa {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #bb2948;
  margin-bottom: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

#logo-capa {
  width: 100%;
  height: auto;
  display: block;
}

#logotipo {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 110px;
  height: auto;
}

h3 {
  position: absolute;
  text-align: center;
  color: #e9e2e2;
  top: 20%;
  right: 10%;
  font-size: 1.6em;
}

#menu {
  position: absolute;
  right: 5%; /* Ajusta a posição para um alinhamento mais moderno */
  bottom: 2%; /* Ajusta a posição para um alinhamento mais moderno */
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
}

#menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}

#menu ul li {
  list-style: none;
  margin: 10px 5px; /* Espaçamento vertical */
  padding: 10px 20px; /* Padding ajustado para um visual mais clean */
  color: #f3f3f3;
  cursor: pointer;
  font-size: 1em; /* Reduz o tamanho da fonte para um visual mais equilibrado */
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o texto e ícone */
  border-radius: 20px; /* Borda mais arredondada para um visual moderno */
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave */
}

#menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

#menu ul li img {
  width: 24px; /* Ajuste o tamanho do ícone */
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

#menu ul li span {
  font-weight: 500; /* Deixa o texto um pouco mais ousado */
}

#varejoicon {
  background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo um pouco mais escura */
  padding-bottom: 15px; /* Ajusta o padding inferior */
}

#redes-sociais {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens centralizados */
}

#inst {
  border: none;
  background: none;
}

#inst img {
  width: 65px;
  cursor: pointer;
}

#inst img:hover {
  scale: 1.05;
}

#zap {
  border: none;
  background: none;
}

#zap img {
  width: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#zap:hover {
  scale: 1.05;
}

/*carrossel*/
.carousel {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Ajuste conforme necessário */
  margin: auto;
  overflow: hidden;
  margin-bottom: 10px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease; /* Suaviza a transição entre slides */
}

.carousel-slide {
  min-width: 100%; /* Mantém a largura de cada slide para 100% do contêiner */
  box-sizing: border-box;
  display: flex; /* Centraliza o conteúdo */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
}

.carousel-slide img {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura do slide */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 140px; /* Define uma altura máxima para evitar que a imagem fique muito alta */
  object-fit: cover; /* Garante que a imagem cubra o slide sem distorcer */
  transition: transform 0.5s ease; /* Adiciona transição para o efeito de zoom */
}

.carousel-slide.zoom img {
  transform: scale(1.1); /* Aplica o efeito de zoom quando a imagem está no centro */
}

.carousel-button {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transform: translateY(-50%);
  border-radius: 10px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}




.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  color: #6c6c6c;
  border: 1.7px solid #929292;
  border-radius: 4px;
  font-size: 1.2em;
}

.pesquisa {
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 5px rgba(0, 0, 0, 0.05); /* Efeito 3D */
  transition: all 0.3s ease;
}

#searchInput:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0.1); /* Intensifica o efeito 3D ao focar */
  border: 2px solid #007bff;
  outline: none;
}

#searchInput::placeholder {
  color: #aaa;
}


#catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.product {
  flex: 1 1 calc(26% - 40px);
  max-width: calc(26% - 40px);
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; /* Arredondamento mais acentuado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15); /* Efeito 3D com múltiplas sombras */
  transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para transformações e sombras */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-top: 2px;
}

.product:hover {
  transform: translateY(-10px); /* Elevação mais acentuada ao passar o mouse */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2); /* Intensifica a sombra ao passar o mouse */
}


.product h2 {
  font-size: 1em;
  margin: 0;
  color: #383737;
  margin-bottom: 20px;
}

.product .bloco1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 0 10px;
  text-align: center;
}

.product .bloco1 img {
  width: 60%;
  border-radius: 4px;
}

.product .bloco2 {
  align-items: center;
  background-color: #bb2948;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product .bloco2 .p1{
  text-decoration: line-through;
  color: rgba(242, 239, 239, 0.7);
  font-size: 0.9em;
}

.product .bloco2 p {
  margin: 5px 5%;
  color: #eae8e8;
  font-size: 1.4em;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.preco{
  display: flex;
}
.product .bloco2 .desconto{
  font-size: 0.9em;
  padding: 2px 5px;
  display: flex;
  background-color: #46b225;
  display: inline;
  border-radius: 5px;
}
.desconto i{
  font-size: 0.9em;
}

/* Media Queries para responsividade */
@media (max-width: 1000px) {
  #catalog {
    gap: 10px;
    justify-content: center;
  }

  .product {
    flex: 1 1 calc(50% - 100px);
    max-width: calc(50% - 100px);
  }

  #logo-capa {
    min-height: 200px;
  }

  .product .bloco2 p {
    font-size: 1em;
  }
 
  #menu ul li img {
    width: 17px;
  }

}

@media (max-width: 808px) {
  #logo-capa {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* Mantém a proporção da imagem e garante que ela preencha o contêiner */
    object-position: left center;
    /* Centraliza a imagem no contêiner */
  }

  .product {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .product .bloco1 img {
    width: 100%;
  }

  #logotipo {
    left: 2%;
    width: 95px;
  }

  #logo-capa {
    min-height: 200px;
  }

  h3 {
    font-size: 1.2em;
  }

  #menu {
    right: 2%;
  }

  #menu ul{
    
  }
  
  #menu ul li {
    margin: 2px;
    padding: 6px 6px;
  }
  #menu ul li img{
    width: 18px;
    margin: 0 3px;
  }

  .product .bloco2 p {
    font-size: 1.3em;
  }
  #redes-sociais {
    position: fixed;
    bottom: 5%;
    right: 0.01%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens centralizados */
  }

}

@media (max-width: 544px) {
 
  #logo-capa {
    min-height: 110px;
  }

  .product {
    flex: 1 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }

  .product .bloco2 {
   
  }

  .product .bloco2 p {
    font-size: 1.2em;
  }
}

@media (max-width: 360px) {
  h3 {
    font-size: 1em;
    left: 50%;
  }
}